*{
    padding: 0%;
    margin: 0%;
    left: 0%;
    font-family: 'Merriweather';
}
.bg{
    background-color: #DDD0C8;
    height: 650px;
    width: 100%;
}
.name{
    float: left;
    margin:5px 20px;
    padding: 0px 0px;
    font-size: 25px;
    color:#323232;
    animation-name:title;
    animation-duration:2s;
    animation-iteration-count:infinite;
}
@keyframes title{
    0%{
        margin:1px 20px;
    }
   50%{
        margin:6px 20px;
   }
    100%{
         margin:1px 20px;
    }
}
.navbar{

    overflow: auto;
    list-style: none;
    text-align: center;
}

.navbar a{

    text-decoration: none;
    margin:5px 5px;
    padding: 5px 5px;
    font-size: 25px;
    color: #323232;

}
.in{

    float: right;
    margin: 0px 30px;

}
.font{
    text-align: center;
    color: #323232;
    margin: 130px 10px 10px 10px;
    padding: 10px 10px 10px 10px;
}
.box{
    text-align: center;
    margin: 10px 10px 10px 10px;
    padding: 5px 5px 5px 5px;
}
 input{
    border-radius: 21px;
    border-color: #323232;
    height: 25px;
    width: 200px;
    background-color: #E3E2DF;
    text-align: center;

}
.btn{
      text-align: center;
      margin: 10px 10px 10px 10px;
      padding: 10px 10px 10px 10px;

}
.btn button{
    height: 30px;
    width: 100px;
    margin: 10px 10px 10px 10px;
    border-radius: 21px;
    color: white;
    background-color: #323232;
}